Flask
flask-mail
flask-sqlalchemy
flask-login
flask-cors
flask-dance
python-dotenv
Werkzeug
python-docx
docx2pdf
pdf2image
pdf2docx
PyMuPDF
PyPDF2
requests
pytz
gunicorn
pdfkit
aspose-words-cloud
markupsafe